.view {
    background-color: #e3e2eb;
}

.conteiner {
    display: flex;
    flex-direction: row;
    padding: 0px 5px 0px 5px;
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    min-height: 100vh; /* Define a altura mínima para o conteiner para preencher a view */
}

.conteiner h3 {
    text-align: center;
    color: #808080;
    font-size: 24px;
    margin: 0;
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
}
